@{
    ViewBag.Title = "Portfolio";
}


<h1>Portfolio</h1>

@if (ViewBag.Cryptocurrencies == null) {
    <p>You don't have any cryptocurrencies.</p>
} else {
    <table class="table">
        <thead>
            <tr>
                <th>Cryptocurrency</th>
                <th>Amount</th>
                <th>Profit/Loss in USD</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var cryptocurrency in ViewBag.Cryptocurrencies) {
                <tr>
                    <td>@cryptocurrency.Name</td>
                    <td>@cryptocurrency.Amount</td>
                    <td>@cryptocurrency.ProfitOrLossUSD$</td>
                </tr>
            }
        </tbody>
    </table>

    <br />

    <p>Sum of all amounts in USD: @ViewBag.TotalSumUSD$</p>
    <p>Total profit/loss in USD: @ViewBag.TotalProfitOrLoss$</p>
}

