@model PortfolioService.Models.SetAlertViewModel

@{
    ViewBag.Title = "Set Alert";
}

<h2>Set Alert for Cryptocurrency</h2>

@using (Html.BeginForm("SetAlert", "SetAlert", FormMethod.Post, new { @enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <div class="form-group row  col-md-4 " style="margin-bottom: 5px" >
        
            @Html.LabelFor(m => m.CryptocurrencyName, htmlAttributes: new { @class = "control-label" })
       
    </div>

    <div class="col-md-5  form-group row ">
        @Html.DropDownListFor(m => m.CryptocurrencyName, new SelectList(new[] {
            new { Value = "BTC", Text = "BTC" },
            new { Value = "ETH", Text = "ETH" },
            new { Value = "LTC", Text = "LTC" },
            new { Value = "BNB", Text = "BNB" },
            new { Value = "DOGE", Text = "DOGE" }
        }, "Value", "Text"), new { @class = "form-control " })
        @Html.ValidationMessageFor(m => m.CryptocurrencyName, "", new { @class = "text-danger" })
    </div>

    <div class="form-group row col-md-5">
        @Html.LabelFor(m => m.AlertThreshold)
        @Html.TextBoxFor(m => m.AlertThreshold, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.AlertThreshold, "", new { @class = "text-danger" })
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.IsLowerTreshold, new { @class = "control-label" })
        <div class="checkbox">
            @Html.CheckBoxFor(m => m.IsLowerTreshold)
            @Html.ValidationMessageFor(m => m.IsLowerTreshold, "", new { @class = "text-danger" })
        </div>
    </div>

    <button type="submit" class="btn btn-primary">Set Alert</button>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
